/* drinksComponent's private CSS styles */
button {
  margin-top: 20px;
  margin-right: 5px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  margin-left:5px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.delete{
  background-color: rgb(187, 10, 10);
  color: rgb(255, 255, 255);
  height: auto;
  margin: 0px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
}

.edit{
  background-color: rgb(76, 204, 44);
  color: rgb(255, 255, 255);
  height: auto;
  margin: 0px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
}


.pour{
  background-color: rgb(30, 211, 214);
  color: rgb(255, 255, 255);
  height: auto;
  margin: 0px;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
}

td, th{
  padding: 0px;
  vertical-align: middle;
}

  
  