<h2>Drinks</h2>

<div>
  <label>Drink name:
    <input #drinkName />
  </label>
  &#160;
  <label>Drink description:
    <input #drinkDescription/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(drinkName.value, drinkDescription.value); drinkName.value=''; drinkDescription.value=''">
    add
  </button>
</div>

<table class="table table-striped" style="width: 100%; max-width: 655px;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Fuctions</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let drink of drinks">
  
        <!--Delete Modal-->
        <ng-template #deletemodal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Delete Drink</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete <b>{{drink.name}} | {{drink.description}}</b>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="delete(drink);getDrinks();modal.close()">Yes</button>
            <button type="button" class="btn btn-outline-dark" (click)="modal.close()">No</button>
          </div>
        </ng-template>

        <!--Edit Modal-->
        <ng-template #editmodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Edit Drink</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <app-drink-detail [drinkID]=drink.id></app-drink-detail>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="getDrink();modal.close()">Close</button>
            </div>
          </ng-template>

        <!--Pour Modal-->
        <ng-template #pourmodal let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Pouring..</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <app-pour-detail [drinkID]=drink.id></app-pour-detail>
          </div>

        </ng-template>
  
        <!--Row-->
        <td>{{drink.name}}</td>
        <td>{{drink.description}}</td>
        <td class="vert-aligned">
          <button class="delete" title="Delete Drink" (click)="open(deletemodal)">
            <fa name="trash"></fa>
          </button>
          <button class="edit" title="Edit Drink" (click)="open(editmodal)">
            <fa name="cog"></fa>
          </button>
          <button class="pour" title="Pour Drink" (click)="open(pourmodal);pourDrink(drink.id);modal.close()">
            <fa name="tint"></fa>
          </button>
        </td>
        
      </tr>
    </tbody>
  </table>