<h2>Drinks</h2>

<div>
  <label>Drink name:
    <input #drinkName />
  </label>
  &#160;
  <label>Drink description:
    <input #drinkDescription/>
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(drinkName.value, drinkDescription.value); drinkName.value=''; drinkDescription.value=''">
    add
  </button>
</div>

<ul class="drinks">
  <li *ngFor="let drink of drinks">
    <a routerLink="/drink-detail/{{drink.id}}">
      <span class="badge">{{drink.id}}</span> {{drink.name}} | {{drink.description}} 
    </a>
    <button class="delete" title="delete drink"
      (click)="delete(drink)">x</button>
     </li>
 
</ul>