<div *ngIf="pump">
  <button (click)="calibratePump(pump)" style="float:right; margin-top: -5px; margin-right: 10px">Calibrate<br />{{pump.name | uppercase}}</button>

  <h2>{{pump.name | uppercase}} Details</h2>

  <div>
  <label>Liquid:
    <select [(ngModel)]="pump.liquid">
      <option *ngFor="let liquid of liquids" [value]="liquid.id" [selected]="pump.liquidName">{{liquid.name}} -
        {{liquid.brand}} </option>
    </select>
  </label>
</div>

<div>
  <label>Flowrate (ml/s):
    <input [(ngModel)]="pump.flowrate" placeholder="flowrate" type="number" />
  </label>
</div>

  <button (click)="save()">Save</button>
</div>