<div *ngIf="drink">
  <h2>{{drink.name | uppercase}} Details</h2>
  <div><span>id: </span>{{drink.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="drink.name" placeholder="name"/>
    </label>
    <li *ngFor="let ingredient of toArray(drink.ingredients)">
      <a routerLink="/detail/{{drink.id}}">
        <span class="badge">{{ingredient.id}}</span> {{ getLiquid(ingredient.liquid) }}| {{ingredient.volume}} 
      </a>
      </li>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
