<div *ngIf="drink">
  <h2>{{drink.name | uppercase}} Details</h2>
  <div><span>id: </span>{{drink.id}}</div>
  <div>
    <label>Name:
      <input [(ngModel)]="drink.name" placeholder="name"/>
    </label>
    <li *ngFor="let ingredient of drink.ingredients">

      <input [(ngModel)]="ingredient.liquidName" placeholder="Liquid"/> <input type="number" min="1" max="999" [(ngModel)]="ingredient.volume" placeholder="Volume (ml)"/> ml
        
    </li>
  </div>
  <button (click)="save()">save</button>
</div>
