<div>

  <input #drinkName placeholder="Name" />

  <input #drinkDescription placeholder="Description" />


  <button (click)="addInputItem()">Add liquid</button>
  <div *ngFor="let item of items">
      <select [(ngModel)]="item.liquid">
          <option *ngFor="let liquid of liquids" [value]="liquid.id" placeholder="Pick a Liquid">{{liquid.name}} - {{liquid.brand}} </option>
        </select>
    <input type="number" size="40" [(ngModel)]="item.volume" placeholder="">
  </div>

</div>
<button (click)="add(drinkName.value, drinkDescription.value)">save</button>