<div>
  <div>
    <input #drinkName required placeholder="Name" />
    <input #drinkDescription required placeholder="Description" />
  </div>

  <hr>

  <div style="margin-left:33px;">
      <button (click)="addInputItem()">Add liquid</button>
      <button (click)="removeInputItem()">Remove liquid</button>
  </div>

  <div *ngFor="let item of items">

    <select [(ngModel)]="item.liquid" required style="height: 30px; padding-left:5px" (change)="updateList()">
      <option [ngValue]="undefined" hidden disabled selected>Select a liquid</option>
      <option *ngFor="let liquid of liquids" [value]="liquid.id">{{liquid.name}} - {{liquid.brand}} </option>
    </select>

    <input type="number" required size="40" [(ngModel)]="item.volume" placeholder="Volume (ml)" min="1" max="999" (change)="updateList()">
  </div>

</div>
<button (click)="add(drinkName.value, drinkDescription.value)" style="margin-top: 20px">save</button>