label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input,select {
    height: auto;
    width: 40%;
    font-size: 1em;
    padding-left: .4em;
    margin: 5px;
  }
  div {
    text-align: center
  }
  button {
    margin-right: 5px; 
    margin-left: 5px; 
    font-family: Arial;
    background-color: #eee;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
